/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

.header {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.header__image {
  width: 100%;
}

.header__info {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {

  .header { 
    text-align: center;
  }

}

.container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}

.button {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  outline: none;
}

.button:hover {
  color: #3a3a3a;
}

/* New Task */

.add-task__label {
  display: block;
  margin: 0 0 20px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0 0 20px;
  text-transform: uppercase;
}

.add-task__wrapper {
  display: flex;
}

.add-task__input {
  width: 318px;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  box-sizing: border-box;
  outline: none;
  flex-grow: 1;
}

.add-task__input:focus {
  color: #333;
}

.add-task__button:hover {
  color: #0fc57c;
}

/* Task list */
.tasks__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

.tasks__list {
  margin: 0;
  padding: 0px;
}

.tasks__item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks__checkbox {
  margin: 0 10px;
  vertical-align: middle;
}

.tasks__label {
  width: 56%;
  display: inline-block;
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
  vertical-align: middle;
  flex-grow: 1;
}

.tasks__input {
  width: 226px;
  display: none;
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
  outline: none;
}

.tasks__input:focus {
  color: #333;
}

.tasks__button_edit {
  box-sizing: border-box;
}

.tasks__button_delete {
  color: #CF2323;
}

.tasks__image {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.tasks__image:hover {
  transform: rotateZ(0);
}

/* Completed */
.tasks__label_complited {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.tasks__item_edit-mode .tasks__input {
  display: flex;
  flex-grow: 1;
  width: 224px;
}

.tasks__item_edit-mode .tasks__label {
  display: none;
}